{% extends 'portfolio/base.html' %}
{%block content %}
<!--

    <div class="container bg-gray mr-5">
      <div class="blog-section bg-gray">
        {% for post in posts %} 
        <article>
            <img class="rounded-circle article img" src=" {{ post.author.profile.image.url }}" style="height:60px;width:60px;">
        <div class="media-body">
            <div class="article-metadata">
            {% if request.user == post.author %}
                <a class="mr-2" href=" {% url "user-posts" post.author.username %}">{{ post.author }}</a>
            {% else %}
                 <a class="mr-2" href="/">{{ post.author }}</a>
            {% endif %}
            <small class="text-muted">{{ post.date_posted |date:"F d, Y"}}</small>
            </div>
                <h2 class="text-2xl text-white"><a class="article-title" href=" {% url "post-detail" post.id %}">{{ post.title }}</a></h2>
                {% if post.content < 200 %}
                    <p class="article-content">{{ post.content }}</p>
                {% else %}
                    <p class="article-content">{{ post.content | slice:":200" }}</p>
                    <a href="{% url 'post-detail' post.id  %}" class="btn btn-primary mb-1">Read More &rarr;</a>
                {% endif %}
            </div>
        </article>
    
    {% endfor %}
    
    {% if is_paginated %}
  
      {% if page_obj.has_previous %}
        <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
      {% endif %}
  
      {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
          <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
          <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% endif %}
      {% endfor %}
  
      {% if page_obj.has_next %}
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
      {% endif %}
  
    {% endif %}

      -->

<!--blog-->
<section class="text-gray-400 bg-gray-900 body-font">
  <div class="container px-5 py-24 mx-auto">
    <div class="flex flex-wrap -mx-4 -my-8">
      {% for post in posts %}
      <div class="py-8 px-4 lg:w-1/3">
        <div class="h-full flex items-start">
          <div class="w-12 flex-shrink-0 flex flex-col text-center leading-none">
            <span class="text-gray-400 pb-2 mb-2 border-b-2 border-gray-700">{{ post.date_posted |date:"M"}}</span>
            <span class="font-medium text-lg leading-none text-gray-300 title-font">{{ post.date_posted |date:"d"}}</span>
          </div>
          <div class="flex-grow pl-6">
            <h2 class="tracking-widest text-xs title-font font-medium text-indigo-400 mb-1">{{post.category}}</h2>
            <h1 class="title-font text-xl font-medium text-white mb-3">{{post.title}}</h1>
            <p class="leading-relaxed mb-5">{{post.content}}</p>
            <a class="inline-flex items-center">
              <img alt="blog" src="{{ post.author.profile.image.url }}"
                class="w-8 h-8 rounded-full flex-shrink-0 object-cover object-center">
              <span class="flex-grow flex flex-col pl-3">
                <span class="title-font font-medium text-white">{{ post.author }}</span>
              </span>
            </a>
          </div>
        </div>
      </div>


      {% endfor %}
    </div>
  </div>
</section>

{% endblock content %}
